
/* Contac Section */
/* Form Section */
.form{

}
.form-content{
    overflow: hidden;
}
.form-item{
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}
.form-item.mg{
    margin: 0 5%;
}
.form-item i{
    color: var( --mainColor);
}
.form-title{
    margin: 15px 0;
}
.form-desc{
    color: #999;
}
.form-input{
    width: 60%;
    margin: auto;
    text-align: center;
}
.form-input1 input{
    width: 300px;
    height: 30px;
}
.form-input1 .name{
    margin-right: 10px;
}
.form-input .subject{
    width: 600px;
    height: 35px;
    margin: 20px 0;
}
.form-input .message{
    width: 600px;
    height: 50px;

}
.form-input input{
    border: none;
    background-color: #e8e8e8;
}
.form .send{
    background: none;
    border: none;
    background-color: var( --mainColor);
    color: #fff;
    margin: 20px 0;
    height: 40px;
    width: 150px;
    border-radius: 5%;
    transition: 0.5s;
}
.form-input input:hover {
    border:1px solid var( --mainColor);
    border-bottom: 2px solid var( --mainColor);
}
