
/* 3.1 Home section */
.home{
   
    height: 100vh;
    background-image: url(../images/background1.jpg);
    position: relative;
}

.home-content{
    /* background-color: blue; */
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home .titel{
    color:#fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.home .home-desc{
    color: #fff;
    margin: 20px 0;
}
.home .btn{
min-width: 160px;
padding: 15px;
border-radius: 5px;
border: 0;
cursor: pointer;
font-size: 20px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: #fff;
}
.home .btn-learn{
    background-color:var( --mainColor);
    color:#fff;
}
