
/* Testimonail Section */
.testimonail{
    position: relative;
    background-image: url(../images/background3.jpg);
    height: 400px;
    background-attachment: fixed;
}
.testimonail-content{
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}
.testimonail-item{
    width: 50%;
    float: left;
    color: #fff;
}
.testimonail-toplayer{
    padding: 10px 5px 10px 90px;
    position: relative;
    margin-bottom: 40px;
}
.testimonail-toplayer img{
position: absolute;
top: 10px;
left: 10px;
border-radius: 50%;
}
.testimonail-item-title{
    margin: 5px 0;
    text-transform: capitalize;
}
.testimonail-toplayer span{
    color: var( --mainColor);
    text-transform: uppercase;
}